@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ysabeau:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Ysabeau', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Ysabeau', sans-serif;
}
/* 
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
}

header ul {
    display: flex;
    gap: 2rem;
}

header ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

header .bar {
    display: none;
}

.bar {
    font-size: 3rem;
    color: white;
}

@media(max-width: 991px) {
    header .navigation {
        position: absolute;
        top: 75px;
        right: -50%;
        width: 50%;
        height: 100vh;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    header .navigation li {
        margin: 11px 0;
    }

    header .bar {
        display: block;
    }

} */


html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    padding: 13px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1111;
    transition: .5s ease-in-out;
}

header .logo a{
    font-size: 28px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
}
header .logo img{
    width: 30px;
    margin-top: -5px;
}
header ul{
    display: flex;
    margin: 0;
}
header ul li{
    margin: 0px 20px;
}
header ul li a{
    color: #fff;
    text-decoration: none!important;
    text-transform: capitalize;
    display: block;
    transition: .4s;
    font-size: 15px;
}
header ul li a:hover{
    color: #45ccb8;
}

header .bars{
    display: none;
}
header .bars img{
    width: 30px;
    cursor: pointer;
}

header.active{
    background: #FFF;
    box-shadow: 0px 1px 0px #DDD;
}
header.active .logo a{
    color: #207178;
}
header.active ul li a{
    color: #000000;
    border-color: #207178;
    padding: 10px 10px;
    font-weight: 700;
}



header.active #bar{
    background: #207178;
    color: #207178;
    padding: 4px 5px;
    width: 33px;
}

@media(max-width: 991px){
    header .navigation{
        display: block;
        height: 100vh;
        width: 50%;
        background: rgba(25, 25, 25, 0.8);
        position: absolute;
        top: 68px;
        right: -50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
        padding-bottom: 10rem;
    }
    header.active .navigation{
        background: #FFF;
        box-shadow: -1px 0px 0px #DDD;
    }
    header .navigation li{
        margin: 15px 0px;
    }
    header .bars{
        display: block;
    }

    header.active ul li a {
        font-size: 2.5rem;
    }
    
}

@media(max-width: 576px){
    header{
        padding: 13px 30px;
    }
    header .navigation.new{
        width: 100%;
        right: -100%;
    }
}

.why-we {
    background-color: #E8F6EF;
}

.why-we h1 {
    text-align: center;
    padding: 60px 0 20px 0;
}


.why-us .why-provide img {
    width: 5rem;
}

.why-us {
    display: flex;
    align-items: first baseline;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px 20px;
}

.why-provide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.we-grant .split .line {
    width: .1rem;
    height: 5vh;
    background-color: rgb(201, 201, 201);
} 

.why-us .why-provide h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

.why-us .why-provide p {
    width: 20rem;
}

.we-grant {
    background-color: whitesmoke;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.we-grant .we-grant-u img {
    width: 4rem;
}

.we-grant .split {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}



.we-grant .split h4 {
    font-size: 1.2rem;
    line-height: 20px;
}

.we-grant .split span {
    color: rgb(184, 120, 0);
    font-weight: 800;
}

@media(max-width: 800px) {
    .we-grant {
        gap: 1rem;
    }

.we-grant .split {
    text-align: center;
    gap: 1rem;
}
.we-grant .split h4 {
    font-size: 14px;
}
}

@media(max-width: 374px) {

    .we-grant {
        gap: 2rem;
        flex-direction: column;
    }
   
}

.about-info {
    padding: 60px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    line-height: 40px;
}

.about-info p {
    font-size: 18px;
}

.about-info p span {
    font-size: 20px;
    font-weight: bold;
}

.about-info p .italic {
    font-style: italic;
    letter-spacing: 1px;
}   

.about-info button a {
    color: black;
}

.about-info button {
    background-color: rgb(255, 245, 134);
    border: none;
    padding: 5px 30px;
}

.big-bg {
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../Images/HomeImage/1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.big-bg .bg-contnet {
    color: #fff;
}

.big-bg .bg-contnet h1 {
    font-size: 50px;
    font-weight: 700 ;
}

.bg-link button {
    border: none;
    padding: 10px 20px;
    background-color: rgba(255, 83, 83, 0.534);
    transition: .3s;
    cursor: pointer;
}

.bg-link button:hover {
    background-color: #ffe62b7d;
}

.bg-link button a {
    color: #fff;
}

.big-collection {
    width: 90%;
    margin: 100px auto;
}

.big-collection .collect-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    grid-row-gap: 25px;
}

.big-collection .collect-flex .collect {
    margin: 0px 10px;
    text-align: center;
    transition: .5s;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 3px;
    background-color: #F8F6F4;
}


.big-collection .collect-flex .collect .image img {
    width: 12rem;
    cursor: pointer;
}

.big-collection .collect-flex .collect .image {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.big-collection .collect-flex .collect .image img {
    transition: all 0.3s;
    display: block;
    height: auto;
    transform: scale(1);
}

.big-collection .collect-flex .collect .image img:hover {
    transform: scale(1.2);
}


@media(max-width: 768px) {
    .big-collection .collect-flex .collect .image img {
        width: 15rem;
    }
}



@media(max-width: 658px) {
    .big-collection .collect-flex .collect .image img {
        width: 13rem;
    }
    .big-collection .collect-flex .collect .link a {
        font-size: 10px;
    }
}

@media(max-width: 601px) {
    .big-collection .collect-flex .collect .image img {
        width: 10rem;
    }
    .big-collection .collect-flex .collect .link a {
        font-size: 12px;
    }
}

@media(max-width: 460px) {
    .big-collection .collect-flex .collect .image img {
        width: 7.5rem;
    }
    .big-collection .collect-flex .collect .link a {
        font-size: 12px;
    }
}   


@media(max-width: 395px) {
    .big-collection .collect-flex .collect .image img {
        width: 6rem;
    }
    .big-collection .collect-flex .collect .link a {
        font-size: 12px;
    }
}

.big-collection .collect-flex .link {
    margin-top: 20px;
}

.collect-flex .link a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}

/* shop */
.big-shop {
    width: 90%;
    margin: 200px auto;
}

.big-shop .shop-title {
    margin-bottom: 50px;
    text-align: center;
}

.big-shop .shop-title h2 {
    font-weight: 700;
}

.big-shop .shop-title p {
    font-size: 15px;
}

.big-shop .shop-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop-flex .shop-one {
    width: 26%;
    display: flex;
    flex-direction: column;
}

.shop-flex .shop-one img {
    width: 100%;
}

.shop-three {
    width: 44%;
}

.shop-three img {
    width: 100%;
}

.shop-flex .shop-one .image-one {
    position: relative;
    margin-bottom: 30px;
}

.shop-one .overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: #fff;
    visibility: hidden;
    transition: .5s;
}

.shop-one .overly section {
    font-size: 15px;
}

.shop-one .overly h3 {
    margin-bottom: 3px;
}

.shop-one .overly span {
    color: skyblue;
}

.shop-one .overly .link {
    position: absolute;
    bottom: 50px;
}

.shop-three .overly .link {
    position: absolute;
    bottom: 30px;
}

.overly .link a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    overflow: hidden;
}

.overly .link i {
    vertical-align: middle;
}

.overly .link a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: .5s ease-in-out;
}

.overly .link a:hover::before {
    left: 0;
}

.shop-one .image-one:hover .text {
    animation: textimage .8s ease-in-out forwards ;
}

@keyframes textimage {
    0% {
        opacity: 0;
        margin-bottom: 50px;
    }

    100% {
        opacity: 1;
        margin-bottom: 0px;
    }
}

.shop-one .image-one .text {
    animation: textimage2 .8s ease-in-out forwards ;
}

@keyframes textimage2 {
    0% {
        opacity: 1;
        margin-bottom: 0px;
    }

    100% {
        opacity: 0;
        margin-bottom: 50px;
    }
}


.shop-one .image-one:hover .overly {
    visibility: visible;
}

.shop-one .image-one:hover .link {
    animation: textlink .8s ease-in-out forwards;
}

.shop-three:hover .overly {
    visibility: visible;
}

.shop-three:hover .link {
    animation: textlink .8s ease-in-out forwards;
}

.shop-flex .shop-three {
    position: relative;
    height: 100%;
}

.shop-three .overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: #fff;
    visibility: hidden;
    transition: .5s;
}

@keyframes textlink {
    0% {
        opacity: 0;
        bottom: 0px;
    }

    100% {
        opacity: 1;
        bottom: 30px;
    }
}

.shop-one .image-one .link {
    animation: textlink2 .8s ease-in-out forwards;
}


@keyframes textlink2 {
    0% {
        opacity: 1;
        bottom: 30px;
    }

    100% {
        opacity: 0;
        bottom: 0px;
    }
}

@media(max-width: 991px) {
    .shop-flex .shop-one {
        width: 49%;
    }
    .shop-flex .shop-three {
        width: 100%;
    }
}

@media(max-width: 576px) {
    .shop-flex .shop-one {
        width: 100%;
    }
}


.footer-image{
    display: flex;
    flex-wrap: wrap;
}

.footer-image .image1{
    width: 16.6%;
    position: relative;
}

.footer-image .image1 img{
    width: 100%;
}

.footer-image .insta{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease-in-out;
    opacity: 0;
}

.footer-image .insta img{
    width: 30px;
    cursor: pointer;
}

.footer-image .image1:hover .insta{
    opacity: 1;
}

.footer-image .image1:hover .insta img{
    animation: instagram .5s ease-in-out forwards;
}

@keyframes instagram {
    0%{
        opacity: 0;
        margin-bottom: 30px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

/* media query */

@media(max-width: 768px){
    .footer-image .image1{
        width: calc(100% / 3);
    }
}


@media(max-width: 576px){
    .footer-image .image1{
        width: calc(100% / 2);
    }
}

@media(max-width: 300px){
    .footer-image .image1{
        width: 100%;
    }
}

.bg-footer{
    width: 90%;
    margin: 0px auto;
}
.bg-footer .footer-flex{
    display: flex;
    justify-content: space-between;
    grid-row-gap: 20px;
    flex-wrap: wrap;
    margin: 50px 0px;
}
.bg-footer .footer-flex .footer1{
    width: 24%;
}
.footer-flex .footer1 h2{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.footer-flex .footer1 section{
    font-size: 14px;
}
.footer-flex .footer1 li{
    font-size: 14px;
}
.footer-flex .footer1 li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}
.footer-flex .footer1 .footer-logo{
    margin-top: 30px;
}
.footer1 .footer-logo img{
    width: 100%;
}
.bg-footer hr{
    background: #f9f9f9;
    margin: 15px 0px;
    height: 1px;
    width: 100%;
}
.bg-footer .copy{
    margin: 15px 0px;
    text-align: center;
}
.bg-footer .copy section{
    font-size: 14px;
    text-transform: capitalize;
}

.bg-footer .copy span{
    font-weight: bold;
    color: var(--main-color);
}

/* media query  */

@media(max-width: 768px){
    .bg-footer .footer-flex .footer1{
        width: 49%;
    }
}

@media(max-width: 576px){
    .bg-footer .footer-flex .footer1{
        width: 100%;
    }
}

.footer {
    position: fixed;
    right: 30px;
    bottom: 20px;
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
    border-radius: 34px;
    color: rgb(0, 0, 0);
    text-align: center;
 }

 .footer {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 }

 .footer span {
    line-height: 60px;
    
 }

 .footer a {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
 }

 .footer .what {
    padding: 7px 25px;
    background-color: rgb(71, 185, 71);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }

 .footer .call {
    padding: 7px 25px;
    background-color: rgb(255, 110, 110);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
 }